/* Master styles */
* {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

/* Nav styles */
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.left {
  display: flex;
}

.nav-link {
  margin-right: 20px;
  font-size: 0.9em;
  text-transform: uppercase;
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-link a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link:hover {
  border-bottom: 1px solid black;
}

.nav-link a:hover {
  color: black;
}

/* Portfolio */
